@import "../../variables.scss";

.updateaccountinfo {
  padding: 3.2rem 2.4rem;

  a {
    font-family: $font-nunito;
    font-weight: 500;
    font-size: 1.4rem;
    color: $heading-color;
  }
}

.updateaccountinfo__profiledata {
  border: 1px solid $border-color;
  border-radius: 0.6rem;
  margin-top: 2.5rem;

  &--header {
    font-family: $font-nunito;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: $heading-color;
    padding: 1.2rem 2rem;
    border-bottom: 1px solid $border-color;

    display: flex;
    align-items: center;
    gap: 0 1rem;
  }

  &--form {
    margin-top: 2rem;
    padding: 1.2rem 2rem;
    width: 100%;

    font-family: $font-roboto;
    font-weight: 400;
    font-size: 1.4rem;
    color: $overview-text;

    &_flex {
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: $bp-mobile) {
        flex-direction: column;
      }

      div {
        width: 49%;

        @media only screen and (max-width: $bp-mobile) {
          width: 100%;
        }
      }
    }
  }

  button {
    margin-top: 0.8rem;
    cursor: pointer;
    background-color: #1f2b3a;
    padding: 1.1rem 2rem;
    border: none;
    border-radius: 5px;

    font-family: $font-nunito;
    font-size: 1.5rem;
    font-weight: 700;
    color: $white;
  }
}
