@import "../../../variables.scss";

.background__approach {
  background-color: $color2;
  padding: 10rem 9.2rem;

  @media only screen and (max-width: $bp-1200) {
    padding: 10rem 3rem;
  }

  @media only screen and (max-width: $bp-mobile-small) {
    padding: 6rem 3rem;
  }
}

.approach {
  display: flex;
  gap: 0 4rem;

  @media only screen and (max-width: $bp-1000) {
    width: 66rem;
    margin: 0 auto;

    flex-direction: column;
    gap: 4rem 0;
  }

  @media only screen and (max-width: $bp-800) {
    width: 48rem;
    margin: 0 auto;
  }

  @media only screen and (max-width: $bp-mobile) {
    width: auto;
    margin: 0;
  }
}

.approach__content {
  h2 {
    color: $color3;
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 4rem;
    margin-bottom: 3rem;
  }

  p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 3rem;
  }

  &--accordion {
    margin-top: 3rem;
  }
}

.approach__image {
  align-self: center;

  max-width: 34rem;

  @media only screen and (max-width: $bp-1000) {
    max-width: 66rem;
  }

  @media only screen and (max-width: $bp-800) {
    max-width: 48rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    width: auto;
  }

  img {
    width: 100%;
  }
}
