@import "../../variables.scss";

.transactioncards {
  border: 1px solid $border-color;
  font-family: $font-roboto;
  font-size: 1.4rem;
  font-weight: 400;
  color: $overview-text;
  padding: 1.2rem 2rem;
  border-radius: 0.6rem;
  box-shadow: 0px 2px 1px 0px #c9c9ce;
  position: relative;

  @media only screen and (min-width: $bp-1400) {
    // width: 92.7rem;
    width: 90rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    font-size: 1.3rem;
  }

  @media only screen and (max-width: $bp-mobile-small) {
    font-size: 1.2rem;
  }
}

.transactioncards__status {
  position: absolute;
  width: 0.4rem;
  height: 100%;
  border-radius: 0.6rem 0 0 0.6rem;
  left: 0;
  top: 0;
}

.transactioncards__info {
  //   font-family: ;
  border-bottom: 1px solid $border-color;
  padding-bottom: 0.6rem;

  display: flex;
  justify-content: space-between;

  &--datetime {
    display: flex;
    gap: 0 1.5rem;
  }
}

.transactioncards__description {
  margin-top: 1.2rem;
}

.credit {
  background-color: #1ee0ac;
}

.debit {
  background-color: #f31559;
}

.credit-text {
  color: #1ee0ac;
}

.debit-text {
  color: #f31559;
}
