@import "../../variables.scss";

/* STYLING FOR INPUT TYPE === TEXT & PASSWORD  */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="email"] {
  width: 100%;
  padding: 1.3rem 1.6rem;
  margin: 0.5rem 0 1.3rem;
  border: 0.7px solid $color6;
  border-radius: 0.5rem;
}

input[type="file"] {
  width: 100%;
  margin: 0.5rem 0 1.3rem;
  border: 0.7px solid $color6;
  border-radius: 0.5rem;
}

::-webkit-file-upload-button {
  padding: 1.3rem 1.6rem;
  border: 0.7px solid $color6;
  border-radius: 0.5rem;
}

/* GENERAL STYLE FOR ALL INPUTS ON FOCUS */
input:focus {
  outline: 0.7px solid $color12;
  box-shadow: 0 0 0 3px rgba(9, 113, 254, 0.1);
}

/* GENERAL STYLES FOR ALL PLACEHOLDERS */
::placeholder {
  color: $color14;
  font-size: 1.5rem;
  font-weight: 400;
}
