@import "../../../../variables.scss";
@import "../../../../variables.scss";

.foreign__transfer {
  border: 1px solid $border-color;
  border-radius: 0.6rem;

  &--header {
    font-family: $font-nunito;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: $heading-color;
    padding: 1.2rem 2rem;
    border-bottom: 1px solid $border-color;

    display: flex;
    align-items: center;
    gap: 0 1rem;
  }

  &--form {
    margin-top: 2rem;
    padding: 1.2rem 2rem;
    width: 100%;

    font-family: $font-roboto;
    font-weight: 400;
    font-size: 1.4rem;
    color: $overview-text;

    &_flex {
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: $bp-mobile) {
        flex-direction: column;
      }

      div {
        width: 49%;

        @media only screen and (max-width: $bp-mobile) {
          width: 100%;
        }
      }
    }
  }

  &--button {
    margin-top: 0.8rem;

    button {
      cursor: pointer;
      background-color: #1f2b3a;
      //   width: 100%;
      padding: 1.1rem 2.4rem;
      border: none;
      border-radius: 5px;

      /* fonts */
      font-family: $font-nunito;
      font-size: 1.5rem;
      font-weight: 700;
      color: $white;
    }
  }
}

.foreign__transfer--form_select {
  select {
    display: block;
    width: 100%;
    padding: 1.1rem 1.2rem;
    margin: 0.5rem 0 1.3rem;
    border: 0.7px solid $color6;
    border-radius: 0.5rem;

    &:focus {
      outline: 0.7px solid $color12;
      box-shadow: 0 0 0 3px rgba(9, 113, 254, 0.1);
    }
  }
}
