// Colors
$primary-color: #00bdc7;
$white: #fff;
$navbar-background-color: #2f3034;
$color1: #404d60;
$color2: #e4edf3;
$color3: #004767;
$color4: #d3d4d4;
$color5: #2a2b2e;
$color6: #dbdfea;
$color7: #008000;
$color8: #ff0000;
$color9: #03bfcb;
$color10: #004767;
$color11: #6fbbc5;
$color12: #43c9db;
$color13: #344357;
$color14: #b6c6e3;
$color15: #3a8dfe;
$color16: #6e82a5;
$secondary-color: #f5f6fa;
$heading-color: #364a63;
$border-color: #e5e9f2;
$font-color: #526484;
$primary-color: #00bdc7;
$overview-text: #8094ae;

// FONT VARIABLES
$font-primary: "Montserrat", sans-serif;
$font-nunito: "Nunito Sans", sans-serif;
$font-roboto: "Roboto", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-1400: 87.5em; // 1400px
$bp-1300: 81.25em; // 1300px
$bp-1200: 75em; // 1200px
$bp-1100: 68.75em; // 1100px
$bp-1000: 62.5em; // 1000px
$bp-800: 50em; // 800px
// $bp-smallest: 43.75em; // 700px
$bp-mobile: 37.5em; // 600px
$bp-mobile-small: 25em; // 400px
$bp-mobile-smallest: 18.75em; // 300px
